.gdpr-overview-panel {
    text-align: center;
    min-height: 380px;
    position: relative;
    padding: 5px;
    height: calc(100% - 10px);
}

.gdpr-overview-panel-heading {
    min-height: 150px;
}

.gdpr-overview-panel-btn-container {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
